/* I REALLY dislike CSS. */

/* variables */
:root {
    --primary: #5e2e4c;
    --secondary: #441432;
    --accent: #D1FFFF;
    --text: #FFD0FA;
    --vertical-margins: 80px;
    --max-width: 800px;
    --phone-vertical-margins: 0px;
}

body {
    color: var(--text);
    background-color: var(--primary);
    font-family: "Lucida Console", Monaco, monospace;
    /* Center website */
    max-width: var(--max-width);
    margin: var(--vertical-margins) auto;
}

a {
    color: var(--accent);
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 1;
    background-color: var(--secondary);
    overflow: hidden;
}

#navbar a {
    text-decoration: none;
    margin: 10px;
}

#navbar li {
    display: inline;
}

#navbar ul {
    text-align: center;
}

#content {
    text-align: justify;
}

.section {
    margin-top: 40px;
}

.nounderline_list {
    text-decoration: none;
}

.indextable {
    border: 1px solid white;
    max-width: 230px;
}

.outlines {
    border: 1px solid white;
}

img {
    max-width: 800px;
}

/* support phones */
@viewport {
    width: device-width;
    zoom: 1.0;
} 

@media screen and (max-width:640px) {
    /* CSS for screens that are 640 pixels or less will be put in this section */
    /* navbar should not be fixed anymore */
    body {
        max-width: 400px;
        margin: 120px auto;
    }
    
    #navbar {
        /*display: contents;*/
        position: absolute;
        height: 100px;
    }
    #navbar li {
        display:block;
    }

    #navbar ul {
        padding: 0;
    }

    #content {
        margin-top: 100px;
    }
  } 

  @media screen and (max-width:320px) {
    /* CSS for screens that are 320 pixels or less will be put in this section */
    /* navbar should not be fixed anymore */
    body {
        max-width: 200px;
    }
}